.skip-to-content {
    position: absolute;
    top: -40px;
    left: 0;
    background: #fff;
    color: #000;
    padding: 8px;
    z-index: 1000;
    transition: top 0.3s;
}

.skip-to-content:focus {
    top: 0;
}

:focus {
    outline: 3px dotted #005fcc;
    outline-offset: 2px;
}

/* Performance Optimizations */
img {
    max-width: 100%;
    height: auto;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}